body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;    
    }
    
    h1{
        color: rgb(228, 15, 51);
        text-align: center;
    }

    div{
        text-align: center;
        margin-bottom: 10px;
    }

    label{
        width: 40%;
    }

    input{
        width: 60%;
    }

    button{
        width: auto;
        background-color: ;
        border: 2px solid lawngreen;
        color: black;
    }

    button:hover{
        cursor: pointer;
        background-color: hotpink;
    }